<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="MojaKonekcija" connectionString="Server=MAX02-13;Database=Forum;User Id=sa;Password=SQL;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
